body {
    background-image: url("../img/background_image.jpg");
}

form.user .form-control-user {
    padding: .5rem 1rem !important;
    height: 50px;
}

.bg-login-image {
    background: url("../img/login_banner.jpg") !important;
}

.invalid-feedback {
    display: block;
}

#userListTable tbody td {
    vertical-align: middle;
}

#userListTable thead  th {
    vertical-align: middle;
}

.profile-image{
    min-width: 150px;
    max-width: 200px;
}
/*@media screen and (max-width: 400px){}*/
/*@media (min-width: 400px){*/
/*    .navbar {*/
/*        flex-flow: row nowrap !important;*/
/*        flex-direction: row !important;*/
/*        flex-wrap: nowrap !important;*/
/*        justify-content: flex-start !important;*/
/*        background-color: transparent !important;*/
/*        !*margin-left: 330px;*!*/
/*    }*/
/*}*/
#navbarTogglerDemo01 ul li a:hover{
    background-color: #FFFFFF!important;
    color:#000000!important;
}
/*.navbar{*/
/*   background-color: transparent!important;*/
/*}*/

